/*Base styles*/
*{
    box-sizing: border-box ;
 }
body{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}
h1{
    text-align: centre;
    margin:auto;
    background-color: black;
    color: white;
}

.block{
    display: flex;
}

section{
    width: 25%;
    margin: 10px;
    display: ;
    background-color: lightcoral;
    color: whitesmoke;
    height: 70px;
    border: 2px solid black;
}

.dishname{
    margin: 1px;
    padding:4px;    
    float: right;
    border: 1px solid black;
    border-collapse: collapse;
}

.discription{
    margin: 3px;
    padding: 4px;
}