body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.inputbox {
    padding: 5px;
    margin: 4px;
    border: thin solid;
}

label{
    margin: 5px;
    padding: 4px;
}

.click{
    padding: 4px;
    margin: 5px;
    min-width: 120px;
    border: dodgerblue 2px solid;
    border-radius: 2px;
    box-shadow: none;
    float: right;
    background-color: dodgerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 100%;
}

.click:hover{
    border-color: #3079ed;
    background-color: #3079ed;
}
